<style>
    .product-image {
        max-width: 200px;
    }
</style>
<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
  <%= ActiveSupport::NumberHelper.number_to_currency(product.price / 100.0, unit: "£", precision: 2) %>
  </p>

  <p>
    <strong>Image:</strong>
    <% if @product.image.attached? %>
      <%= image_tag @product.image, class: "product-image" %>
    <% end %>
  </p>
</div>
